body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

* {
  box-sizing: border-box;
}

.form-input {
  max-width: 768px;
  margin: 0 auto;
  color: #fff;
  min-height: 100vh;
  display: block;
  padding: 120px 0;
}

.form-input__title {
  font-size: 40px;
  line-height: normal;
  margin: 0 0 32px;
}

.form-input__info-text {
  margin-bottom: 16px;
  display: block;
}

.form-input__field {
  gap: 32px;
  margin-bottom: 32px;
}

.form-input__field input {
  display: none;
}

.form-input__btn {
  display: block;
  margin-top: 16px;
  border-radius: 20px;
  border: 1px solid #808080;
  padding: 15px;
  text-transform: uppercase;
  margin-bottom: 24px;
  cursor: pointer;
}

.form-input__info {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 32px;
}

.form-input__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}

.preview {
  border: 2px solid #808080;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.preview__img {
  display: block;
  width: 100%;
  margin: 0;
}

.preview__wrap-btn {
  padding: 0;
  display: flex;
  justify-content: center;
}

.preview__delete {
  padding: 12px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.message {
  background-color: #fff;
  border-radius: 20px;
  display: block;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.message-delete {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.message-delete::before,
.message-delete::after {
  content: '';
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  bottom: 0;
  background-color: #000;
  width: 2px;
  transform: rotate(45deg);
}

.message-delete::after {
  transform: rotate(-45deg);
}

.message__text {
  display: block;
  margin-bottom: 16px;
}

.message__caption {
  display: block;
  margin-bottom: 8px;
}

.message__list {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}

.message__name {
  margin: 0;
  padding-left: 15px;
  position: relative;
  display: block;
  margin-bottom: 4px;
}

.message__name:last-child {
  margin-bottom: 0;
}

.message__name::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}

.success {
  color: rgb(20, 110, 28);
}

.error {  
  color: rgb(228, 38, 38);
}